<%= turbo_frame_tag 'content' do %>
  <% if @is_filter_request %>
    <%= turbo_stream.replace 'right-nav', partial: 'application/right_nav', locals: { selected: @selected, channel: @channel } %>
  <% else %>
    <%= turbo_stream.replace 'main-nav', partial: 'application/nav', locals: { selected: @selected, channel: @channel } %>
  <% end %>
  <div id='video-list-items'>
    <%= render partial: 'videos/videos', locals: { videos: @videos, pagy: @pagy } %>
  </div>
<% end %>

