<article class="message">
  <div class="message-header">
    <p>Nothing Here</p>
  </div>
  <div class="message-body">
    You'll have to find something else to do with with your time I guess 😢. 
  </div>
</article>
